In [1]:
import pandas as pd
import numpy as np

#### import both csvs

In [2]:
df_trips = pd.read_csv("buses_per_trip.csv")
df_trips.head()

,route_id,route_shor,trip_id,trip_heads,trip_short,direction_,agency_id,headway_se,O_TERMINAL,LEN_KM,STD_FARE,route_time_s,buses,standard_buses
0,CTA_1-1140,1-1140,CTA_1-1140_R,Imbaba,Moneeb-Imbaba,1,CTA,6688.0,Moneeb,24.034205,3.0,11444.859596,5.0,4.0
1,CTA_1-1140,1-1140,CTA_1-1140_O,Moneeb,Imbaba-Moneeb,0,CTA,6688.0,Imbaba,19.926860,3.0,9488.980942,4.0,4.0
2,CTA_1002,1002,CTA_1002_R,Matbaa,Masaken Ain Shams-Matbaa,1,CTA,1644.0,Masaken Ain Shams,41.860953,4.0,19933.786928,29.0,26.0
3,CTA_1002,1002,CTA_1002_O,Masaken Ain Shams,Matbaa-Masaken Ain Shams,0,CTA,1644.0,Matbaa,37.057157,4.0,17646.265073,26.0,26.0
4,CTA_1003,1003,CTA_1003_O,Bulaq Al Dakrur,Cairo Airport-Bulaq Al Dakrur,0,CTA,4270.0,Cairo Airport,41.049288,3.0,19547.279850,11.0,11.0

In [3]:
df_distances = pd.read_csv("distance_matrix.csv")
df_distances.head()

,InputID,Al Amal,Al Amiriyyah,Al Sawah,Al-Mostaqbal,Athar an Naby,Badr,Cairo,El Mizalat,El-Mounib,...,El-Teraa El-,Fateh,Fom El-Khalig,Gesr Al Suez,Giza,Helwan,Imbaba,Maadi,Nasr,Port Said
0,10th District (6th of October),102626.655955,91966.166710,93522.983214,108686.277445,70837.302839,66080.025016,112111.577211,82121.700544,61223.281487,...,84804.675277,89888.463229,71888.899607,107804.838536,60013.262030,94543.266869,69562.076524,110608.394396,89805.615225,88116.077685
1,10th District (Nasr City),19332.418154,24057.581704,22051.343693,3230.886850,36136.741477,40763.909248,21165.771115,32384.516784,45071.334110,...,30190.786322,15952.345658,33574.694012,21000.194986,45481.918715,55475.591107,39845.646915,19098.795021,15889.116654,27344.698604
2,10th of Ramadan City,116502.949200,111272.725831,109801.986828,100214.848057,138649.788825,143004.172225,109965.902659,121088.013530,146723.332120,...,118391.755948,116181.214694,133938.937742,95491.365253,145784.973688,151167.663630,133660.452798,109820.197965,116489.497376,115079.593689
3,10th of Ramadan Station (Asher Men Ramadan),46819.490314,28153.148465,26694.948669,26369.379847,57822.425377,61698.479796,46203.145350,38122.319230,64819.632781,...,35386.006141,35203.713358,51758.869048,12401.923284,63246.452331,83210.220537,50551.967159,44576.939671,35679.458922,32010.368867
4,11th District (6th of October),105721.566295,94969.416203,96538.507745,111793.150883,73948.151257,69189.869846,115206.103511,85091.382161,64335.746416,...,87781.922869,92986.228726,74994.635696,110812.851870,63124.557534,97314.139670,72566.725244,113707.672918,92905.709280,91105.138255

## Merge Dataframes so that you know the distance from the start point of each trip to all depots

In [4]:
# how = 'left' joins over the left dataframe, in this case we are joining onto the df_trips dataframe
df_bus_to_garage = pd.merge(df_trips, df_distances, left_on='O_TERMINAL', right_on='InputID', how='left')
df_bus_to_garage.head()

,route_id,route_shor,trip_id,trip_heads,trip_short,direction_,agency_id,headway_se,O_TERMINAL,LEN_KM,...,El-Teraa El-,Fateh,Fom El-Khalig,Gesr Al Suez,Giza,Helwan,Imbaba,Maadi,Nasr,Port Said
0,CTA_1-1140,1-1140,CTA_1-1140_R,Imbaba,Moneeb-Imbaba,1,CTA,6688.0,Moneeb,24.034205,...,33144.529165,27057.702470,11299.512117,50029.417353,9419.272326,43267.236166,23033.434126,44464.477634,26702.330924,34721.879973
1,CTA_1-1140,1-1140,CTA_1-1140_O,Moneeb,Imbaba-Moneeb,0,CTA,6688.0,Imbaba,19.926860,...,11721.629290,21515.022370,14405.590660,34510.291069,20095.310912,65044.147038,3745.091512,50196.996348,21844.863828,14862.254772
2,CTA_1002,1002,CTA_1002_R,Matbaa,Masaken Ain Shams-Matbaa,1,CTA,1644.0,Masaken Ain Shams,41.860953,...,21489.312651,24332.987592,39080.300243,3009.943377,50137.987970,76359.276547,36727.364040,42306.063913,24933.431742,18141.236707
3,CTA_1002,1002,CTA_1002_O,Masaken Ain Shams,Matbaa-Masaken Ain Shams,0,CTA,1644.0,Matbaa,37.057157,...,33824.201628,23404.657510,13288.181302,47224.307354,17074.095465,37603.227509,27130.514073,36774.377493,22896.898963,34620.652102
4,CTA_1003,1003,CTA_1003_O,Bulaq Al Dakrur,Cairo Airport-Bulaq Al Dakrur,0,CTA,4270.0,Cairo Airport,41.049288,...,30966.754132,27175.189755,44559.694231,8675.768832,56371.265294,74053.626919,45292.732334,35856.561548,27577.292323,27453.482739

In [5]:
df_bus_to_garage.to_csv(r'bus-to-garage.csv', index = None, header=True)